.ending {
    width: 100%;
    background-color: #343a40;
    background: url("../images/bg-masthead.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'lato';
    margin-top: 40px;
}

.ending h1 {
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
    width: 68%;
    margin: 0 auto;
}

.ending form {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 500px;
    padding-top: 2%;
    margin: auto;
}

.ending form input {
    flex: 1;
    border-radius: 4px;
    border: 0;
    padding-left: 5px;
    width: 70%;
    line-height: 35px;
    margin-right: 5px;
}

.ending a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $blue;
    height: 35px;
    width: 90px;
    border-radius: 3px;
    margin-left: 5px;
    color: white;
    text-decoration: none;
}

.ending .overlay {
    position: absolute;
    background-color: rgba(33, 37, 41, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}