.icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: $gray;
}

.computer,
.layer,
.check {
    font-family: 'lato';
    flex: 1;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin: 0 10px;
    height: 250px;
}

.icons div i,
.icons div h1,
.icons div p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icons div i {
    top: 30%;
    color: $blue;
    font-size: 3em;
}

.icons div h1 {
    top: 55%;
    color: black;
    font-size: 1.1em;
    width: 100%;
}

.icons div p {
    top: 65%;
    width: 100%;
    margin: auto;
    text-align: center;
    bottom: 0;
    padding-left: 30px;
    margin-bottom: 50px;
    color: $darker-gray;
}