@media (max-width: 768px) {
    header {
        align-items: center;
        padding: 15px;
    }

    #hero form {
        flex-direction: column;
        width: 100%;
    }

    #hero form input {
        width: 90%;
        margin-right: 0;
    }

    #hero a {
        margin-top: 5px;
        width: 90%;
        margin-left: 0;
    }

    .icons {
        margin-top: 80px;
        flex-direction: column;
        order: 1;

        div {
            margin-bottom: 50px; 
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            i {
                margin-bottom: 10px;
                position: relative;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: auto;
            }

            h1,
            p {
                order: 2;
                width: 100%;
                text-align: center;
                position: relative;
                z-index: 2;
            }
        }
    }

    .phone {
        flex-direction: column;
        height: auto;
        order: 1;
        z-index: 1;
    }

    .phone .img {
        width: 100%;
        order: 1;
    }

    .phone .text {
        width: 100%;
        text-align: start;
        padding: 0 30px;
        order: 2;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .phone .text h1,
    .phone .text p {
        order: 3;
    }

    .code {
        flex-direction: column;
        height: auto;
        order: 2;
    }

    .code .img-code {
        width: 100%;
        order: 1;
    }

    .code .text-code {
        width: 100%;
        text-align: start;
        padding: 0 30px;
        order: 2;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 0;
    }

    .code .text-code h1,
    .code .text-code p {
        order: 3;
    }

    .kid {
        flex-direction: column;
        height: auto;
        order: 3;
        z-index: 3;
        margin-bottom: 20px;
    }

    .kid .img {
        width: 100%;
        order: 1;
    }

    .kid .text {
        width: 100%;
        text-align: start;
        padding: 0 30px;
        order: 2;
        margin-top: 20px;
    }

    .img {
        animation: none !important;
    }

    .saying {
        height: auto;
        order: 4;
        margin-top: -100px;
    }

    .people {
        display: flex;
        height: auto;
        margin-top: -100px;
        flex-direction: column;
        order: 5;
        width: 100%;

        .margaret,
        .fred,
        .sarah {
            flex: 1;
            text-align: center;
            padding: 15px;

            img {
                max-width: 100px;
            }

            h3 {
                font-size: 0.8em;
            }

            p {
                font-size: 0.6em;
                max-width: 100%;
                width: 50%;
                text-align: center;
                margin: 0 auto;
            }
        }
    }

    .ending {
        order: 6;
        width: 100%;
        background-color: #343a40;
        background: url("../images/bg-masthead.jpg") no-repeat center center;
        background-size: cover;
        padding-top: 4rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        font-family: 'lato';
        margin-top: 40px;
    }

    .ending h1 {
        font-size: 1.5rem;
        position: relative;
        z-index: 1;
        width: 68%;
        margin: 0 auto;
    }

    .ending form {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column; /* Adjust to column for small screens */
        align-items: center;
        justify-content: center;
        width: 90%; /* Adjust width for small screens */
        max-width: 500px;
        padding-top: 2%;
        margin: auto;
    }

    .ending form input {
        flex: 1;
        border-radius: 4px;
        border: 0;
        padding-left: 5px;
        width: 100%;
        line-height: 35px;
        margin: 0;
        margin-top: 10px;
    }

    .ending a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $blue;
        height: 35px;
        width: 100%;
        border-radius: 3px;
        margin: 0;
        margin-top: 10px; /* Add some margin for spacing */
        color: white;
        text-decoration: none;
    }

    .ending .overlay {
        position: absolute;
        background-color: rgba(33, 37, 41, 0.7);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    footer {
        order: 7;
        div.links {
            margin-left: auto; 
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            a {
                margin-bottom: 10px;
                white-space: nowrap;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .footer-content {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .copyright {
                p {
                    margin: 0;
                    margin-bottom: 10px;
                }
            }

            .social {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 10px;

                i {
                    font-size: 20px;
                }
            }
        }
    }
}